:root {
    --color-tertiary: #fffdf5;
    --color-modal: #ffff;
    --color-primary: #e7332b;
    --color-bg: #585858;
    --transition: 200ms all ease;
    --sm: 90%;
    --lg: 85%;
}
/* Nav section start */
.Nav__bar{
background: var(--color-modal);
    position: fixed;
    position: 1rem;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    height: 15vh;
}
.inExp_Navcontainer{
    padding: 0.6rem;
    max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inExp_Navcontainer > img{
    margin-left: 4rem;
}

.inExp_list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
        /* margin-right: 4rem; */
}

.inExp_list > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.inExp-listitems{
    padding: 1rem 0.5rem;
}

.inExp-listitems:hover{
/* background: #e1eef9; */
border-bottom: 3px solid red;
transition:0.2s ease-in;
}

.inExp-listitems > a{
   color: var(--color-bg); 
}

.talent {
    background: var(--color-primary);
    font-weight: 500;
    padding: 0.6rem 3rem;
    color: var(--color-modal);
    border-bottom-right-radius: 0.7rem;
}

/* small- screen */
@media screen and (max-width: 890px){
    .inExp_Navcontainer>img {
            margin-left: 1rem;
        }
    .inExp_list{
        margin-right: 1rem;
    }
    .inExp-listitems{
        display: none;
    }
}
/* Nav section ends */

/* Home section starts */
#Home{
    padding: 3rem;
    width: 100%;
    background: var(--color-modal);
}
.Home_container{
    position: relative;
    padding: 2rem;
    margin-top: 7rem;
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}
.Homeheader{
    position: relative;
    margin-bottom: 1.5rem;
}
.Homeheader > h3{
 font-size: 2.5rem;
 font-weight: 700;
 line-height: 1.5;
 letter-spacing: 0.00938em;
}
.Homeheader >h3> img{
    position: absolute;
    top: 2rem;
   left: 25.5rem;
}

.Home-para-p > p{
    font-size: 1.2875rem;
    font-weight: 400;
    line-height: 1.3;
    width: 26rem;
    margin-bottom: 2rem;
    color: #787878;
}

.Homedown{
    display: flex;
    align-items: center;
   gap: 2rem;
}
.gray{
    background: #585858;
    font-weight: 500;
}

.line1{
position: absolute;
top: 20rem;
left: 73rem;
width: 11%;
}
.Home_img{
    width: 35%;
    margin-right: 2rem;
}

@media screen and (max-width: 1100px){
    .Home_container {
            flex-direction: column;
        }
   .Homeheader>h3{
    text-align: center;
   }
   .Homeheader>h3>img {
       position: absolute;
       top: 2rem;
       left: 30.5rem;
   }
   
   .Home-para-p>p {
       width: 40rem;
       text-align: center;
   }
        .Homedown {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .Home_img{
            width: 100%;
            margin-left: 4rem;
        }
}@media screen and (max-width: 800px) {
.Home-para-p>p {
        width: 30rem;
        text-align: center;
    }
}

/* Home section end*/