:root {
    --color-tertiary: #fffdf5;
    --color-modal: #ffff;
    --color-primary: #e7332b;
    --color-bg: #585858;
    --transition: 200ms all ease;
    --sm: 90%;
    --lg: 85%;
}
/* Nav section start */
.Nav__bar{
background: var(--color-modal);
    position: fixed;
    position: 1rem;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    height: 13vh;
}
.inExp_Navcontainer{
    padding: 0.6rem;
    max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inExp_Navcontainer > img{
    margin-left: 4rem;
}

.inExp_list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
        /* margin-right: 4rem; */
}

.inExp_list > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.inExp-listitems{
    padding: 1rem 0.5rem;
}

.inExp-listitems:hover{
/* background: #e1eef9; */
border-bottom: 3px solid red;
transition:0.2s ease-in;
}

.inExp-listitems > a{
   color: var(--color-bg); 
}

.talent {
    background: var(--color-primary);
    font-weight: 500;
    padding: 0.6rem 3rem;
    color: var(--color-modal);
    border-bottom-right-radius: 0.7rem;
}

/* small- screen */
@media screen and (max-width: 890px){
    .inExp_Navcontainer>img {
            margin-left: 1rem;
        }
    .inExp_list{
        margin-right: 1rem;
    }
    .inExp-listitems{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .talent{
        font-size: 0.9rem;
        padding: 0.6rem 2rem;
    }
}
@media screen and (max-width: 290px) {
    .inExp_Navcontainer>img {
            width: 30%;
        }
    .small {
        font-size: 0.8rem;
        padding: 0.6rem 1rem;
    }
}
/* Nav section ends */

/* Home section starts */
#Home{
    padding: 3rem;
    width: 100%;
    background: var(--color-modal);
}
.Home_container{
    position: relative;
    padding: 2rem;
    margin-top: 7rem;
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}
.Homeheader{
    position: relative;
    margin-bottom: 1.5rem;
}
.Homeheader > h3{
 font-size: 2.5rem;
 font-weight: 700;
 line-height: 1.5;
 letter-spacing: 0.00938em;
}
.Homeheader >h3> img{
    position: absolute;
    top: 2rem;
   left: 25.5rem;
}

.Home-para-p > p{
    font-size: 1.2875rem;
    font-weight: 400;
    line-height: 1.3;
    width: 26rem;
    margin-bottom: 2rem;
    color: #787878;
}

.Homedown{
    display: flex;
    align-items: center;
   gap: 2rem;
}
.gray{
    background: #585858;
    font-weight: 500;
}


.line1 {
        display: none;
    }

.Home_img{
    width: 35%;
    margin-right: 2rem;
}

@media screen and (max-width: 1100px){
    .Home_container {
            flex-direction: column;
        }
   .Homeheader>h3{
    text-align: center;
   }
   .Homeheader>h3>img {
       position: absolute;
       top: 2rem;
       left: 30.5rem;
   }
   
   .Home-para-p>p {
       width: 40rem;
       text-align: center;
   }
        .Homedown {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .Home_img{
            width: 80%;
            margin-left: 4rem;
        }
}




@media screen and (max-width: 800px) {
.Home-para-p>p {
        width: 30rem;
        text-align: center;
    }
}
@media screen and (max-width: 790px) {
    .Homeheader>h3>img {
            position: absolute;
            top: 2rem;
            left: 26.5rem;
        }
}
@media screen and (max-width: 690px) {
    .Homeheader>h3>img {
            position: absolute;
            top: 6rem;
            left: 13.5rem;
        }
}
@media screen and (max-width: 450px) {
    .Homeheader>h3 {
            font-size: 2.5rem;
        }
    .Homeheader>h3>img {
            position: absolute;
            top: 6rem;
            left: 10.5rem;
        }
    .Home-para-p > p {
            width: 25rem;
            font-size: 1.1rem;
            padding: 0.9rem;
            text-align: center;
        }

                 .Home_img {
                     width: 100%;
                     margin-left: 4rem;
                 }
}

@media screen and (max-width: 360px){
.Homeheader>h3 {
        font-size: 2.3rem;
        padding: 0 2rem;
    }
         .Home-para-p>p {
            
             font-size: 1.1rem;
             padding: 1.6rem;
            
         }
}
@media screen and (max-width: 290px){
.Homeheader>h3 {
        font-size: 1.7rem;
        padding: 0 3rem;
    }
        .Homeheader>h3>img {
            position: absolute;
            top: 6rem;
            left: 7.5rem;
            width: 30%;
        }
         .Home-para-p>p {
           width: 16rem;
             font-size: 0.8rem;
             padding: 1rem;
    
         }
.gray,.talred {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
}
}
/* Home section end*/

/* Impact section starts */
.impact-section-container{
    background: url("../../Components/Assets/bgimact.png") no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
    gap: 3rem;
}

.impact-section-content{
    padding: 1rem;
}
.typography1{
    font-size: 3.4rem;
    font-weight: 600;
   
}
.typography2{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.typography3{
    color: #787878;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}
.countriesSvg{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.country{
    background: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}
.ind {
    padding: 0.7rem;
}

.Impact_img{
    width: 40%;
}
/* skills and talent start */
.SkillsandTalent{
    background: rgb(250, 250, 250);
    padding: 2rem;
}
.SkillsandTalent-content{
    padding: 2rem;
}
.SkillsandTalent-content > h3{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.00998em;
    margin-bottom: 2rem;
}
.SkilsandTalent-option1{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.options{
    background: #fff;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    color: #787878;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.options:hover{
    animation: myAnim 1s ease 0s 1 normal forwards;
}
.SkilsandTalent-option1 > img{
   position: absolute;
    bottom: 50%;
    left: 76%;
    width: 29%;
}
.SkilsandTalent-option2{
    display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;
}
.option2 {
    background: #fff;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    color: #787878;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.option2:hover{
    animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

/* skills and talent ends */
@media screen and (max-width: 1310px) {
.SkilsandTalent-option1>img {
        display: none;
    }
}
@media screen and (max-width: 1200px){
.typography1 {
        font-size: 3rem;
        font-weight: 600;
    }
        .typography2,
        .typography3 {
            font-size: 1.3rem;
        }

.SkillsandTalent-content>h3 {
     font-size: 1.8rem;
 }
}
@media screen and (max-width: 1000px) {
    .typography1 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    .typography2,.typography3{
        font-size: 1.2rem;
    }
    .SkillsandTalent-content>h3{
        text-align: center;
    }

}

@media screen and (max-width: 950px) {
    .impact-section-container{
        flex-direction: column;
    }
         .typography1,.typography2,.typography3 {
             text-align: center;
         }
    .countriesSvg{
   justify-content: center;
    }
    .Impact_img {
            width: 70%;
        }
}
@media screen and (max-width: 600px){
.SkilsandTalent-option1,.SkilsandTalent-option2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.option2,.options{
    font-size: 1.1rem;
    padding: 1rem 0.5rem;
}
}
@media screen and (max-width: 450px){
.impact-section-content {
        padding: 0.5rem;
        margin-right: 3rem;
}
.typography1{
text-align: start;
width: 20ch;
font-size: 1.7rem;
}
.typography2,
.typography3 {
    text-align: start;
}
 .countriesSvg {
     justify-content: space-between;
 }
.country{
    width: 16%;
}
.Impact_img {
    width: 100%;
}
.SkillsandTalent-content>h3 {
    font-size: 1.5rem;
}
.option2,
.options {
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
}
}
@media screen and (max-width: 290px){
.typography1{
    font-size: 1.4rem;
}
.impact-section-content {
    padding: 0.5rem;
    margin-right: 1.5rem;
}
    .country {
        width: 14%;
    }
}

/* impact us ends */

/* Why us starts */
#whyus{
    background: rgb(255, 248, 229);
    padding: 2rem;
}
.whyuscontainer{
    padding: 2rem;
}
.whyus-content_container{
 padding: 1rem;
 position: relative;
}
.whyus-content_container > h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}
.whyus-content_container > img{
position: absolute;
top: 50%;
left: -6%;
}

.whyus-Content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.content--{
    background: #fff;
    text-align: center;
    color: #787878;
    padding: 4rem 2rem;
    border-bottom-right-radius: 30px;
}

.content--:hover{
    background: #000;
    color: #fff;
}
.content-- > p{  
    font-size: 1.3rem;
    width: 27ch;
}
.Homedown2{
    margin-top: 4rem;
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
}
.gray2{
    background: #585858;
    padding: 0.5rem 2.5rem;
}
.talred2{
padding: 0.5rem 3rem;
}

@media screen and (max-width: 1200px){
   .whyus-Content {
        justify-content: center;
    }
}

@media screen and (max-width: 540px){
    .gray2,.talred2{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px) {
    .whyus-content_container>img {
            display: none;
        }
                .content-- {
                    padding: 3rem 2rem;
                }
    .gray,
    .talred {
         padding: 0.4rem 1rem;
         font-size: 0.8rem;
         }
}
@media screen and (max-width: 390px){
.content-->p {
        font-size: 1.3rem;
        width: 23ch;
    }
}

@media screen and (max-width: 290px){
    .whyus-content_container>h3 {
           
            font-size: 1.4rem;
            
        }
.content-->p {
        font-size: 1.3rem;
        width: 15ch;
    }
}



/* Why us ends */