.structure {
    padding-bottom: 3rem;
}

.wire-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.wires1, .wires2 {
    width: 15%;
}

.wires1 img, .wires2 img{
    width: 100%;
}

.title-container1{
    width: 90%;
    margin: 0 auto;
}

.title-container1 span, .title-container1 p {
    font-size: 1.4rem;
}

.items-flexed{
    display: flex;
}

.padding-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    width: var(--sm)
}

.items-card h1, h2{
    color: var(--color-modal);
    padding-top: 1rem;
}

.items-card p, li {
    font-size: 1.1rem;
    color: var(--color-modal);
}

.items-card li a{
    color: var(--color-modal);
    text-decoration: underline;
}

.card-one {
    background: #000;
    border: 1px solid transparent;
    border-radius: 3rem;
    transition: var(--transition);
    box-shadow: 0 1.93rem 3.7rem rgba(231,51,43,.2);
    padding: 4rem 3rem;  
    height: 46.7rem;
}

.items-card-img {
    width: 25%;
    position: relative;
    left: 16rem;
    top: -7rem;
}

.items-card-img img{
    width: 100%;
    position: relative;
    bottom: 0;
} 

.circle{
    width: 45%;
    position: relative;
    left: 22rem;
    top: -4rem;
    z-index: 11111;
}

.circle img {
    width: 100%;
}

@media screen  and (max-width: 1200px){
    .first-item{
        display: none;
    }

    .structure {
        margin: 0 auto;
        width: 100%;
    }

    .padding-container {
        margin: 0 auto;
        width: var(--sm);
        gap: 2rem;
    }
}

@media screen  and (max-width: 900px){
    .padding-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: var(--sm)
}
}

